<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<context-param>
		<param-name>com.auth0.clientId</param-name>
		<param-value>Hjee0La2DjlYjIH5ClCx3Xnfaj02n2On</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.backend.clientId</param-name>
		<param-value>5CZclgZ74vR1uIMm9pbxrsS5M7l3IKEB</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.clientSecret</param-name>
		<param-value>ZcyJKbH5994vtemZYSo_ZrwRYrwleCsns2vOvM5IOsSyzrJqo9k-SCeBSs5asyzS</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.backend.clientSecret</param-name>
		<param-value>OAPyuPZzKS3A1WS4KlrBT7ePNFt1qDpwC86jJQxv21LwSW70e5kgYfqUSqb3lPvn</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.domain</param-name>
		<param-value>lumeer.eu.auth0.com</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.redirectUri</param-name>
		<param-value>http://localhost:7000/auth</param-value>
	</context-param>

</web-app>
