<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<context-param>
		<param-name>com.auth0.clientId</param-name>
		<param-value>sGSx8FFsjhV7m9PcNSpMlOxlPlT1nAdI</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.backend.clientId</param-name>
		<param-value>ip2JigNet3w3LjNpvtnAG4qvmAs4yTrE</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.clientSecret</param-name>
		<param-value>mh_LbQLJ1_TpYmdi_I25X70tb2JfwqvR4e-6JjToyAhLzXkHO7vWSbGnYRQAeSop</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.backend.clientSecret</param-name>
		<param-value>oRndsRc7GMCjIXKvttRRM-7yLoAyYM11gPhCcBF7sXh1E7cCPFGs9VdwDWWybezg</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.domain</param-name>
		<param-value>lumeer-local.eu.auth0.com</param-value>
	</context-param>
	<context-param>
		<param-name>com.auth0.redirectUri</param-name>
		<param-value>http://localhost:7000/auth</param-value>
	</context-param>

</web-app>
