.idea
**/target

*.iml
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!code-style/lumeer-idea-settings.jar

*.log
*.log.*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.DS_Store

build.out

# VS Code
.classpath
.factorypath
.project
.settings/

lumeer-core/src/main/resources/defaults-dev-*.properties