<?xml version="1.0" encoding="UTF-8"?>
<module name="io.lumeer.graalvm" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="public"/>
    </properties>

    <resources>
        <resource-root path="graal-sdk-24.1.2.jar"/>
        <resource-root path="polyglot-24.1.2.jar"/>
        <resource-root path="js-language-24.1.2.jar"/>
        <resource-root path="js-scriptengine-24.1.2.jar"/>
        <resource-root path="jniutils-24.1.2.jar"/>
        <resource-root path="truffle-api-24.1.2.jar"/>
        <resource-root path="truffle-runtime-24.1.2.jar"/>
        <resource-root path="truffle-compiler-24.1.2.jar"/>
        <resource-root path="truffle-enterprise-24.1.2.jar"/>
        <resource-root path="launcher-common-24.1.2.jar"/>
        <resource-root path="nativeimage-24.1.2.jar"/>
        <resource-root path="nativebridge-24.1.2.jar"/>
        <resource-root path="collections-24.1.2.jar"/>
        <resource-root path="word-24.1.2.jar"/>
        <resource-root path="regex-24.1.2.jar"/>
        <resource-root path="icu4j-24.1.2.jar"/>
    </resources>

    <dependencies>
        <module name="java.desktop"/>
        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.sql"/>
        <module name="java.xml"/>
        <module name="sun.jdk"/>
    </dependencies>

    <exports>
        <include path="**"/>
    </exports>

</module>
